.idea
build/
cmake-build-debug
mac_build-release/CMakeFiles
mac_build-release/cmake_install.cmake
mac_build-release/CMakeCache.txt
mac_build-release/data.sql
mac_build-release/install_manifest.txt
mac_build-release/Makefile
mac_build-release/test_services
win_build-release/CMakeFiles
win_build-release/securefile.dir
win_build-release/test_services.dir
win_build-release/X64
win_build-release/ALL_BUILD.vcxproj
win_build-release/ALL_BUILD.vcxproj.filters
win_build-release/cmake_install.cmake
win_build-release/CMakeCache.txt
win_build-release/data.sql
win_build-release/install_manifest.txt
win_build-release/securefile.sln
win_build-release/securefile.vcxproj
win_build-release/securefile.vcxproj.filters
win_build-release/test_services.vcxproj
win_build-release/test_services.vcxproj.filters
win_build-release/ZERO_CHECK.vcxproj
win_build-release/ZERO_CHECK.vcxproj.filters